/* You can add global styles to this file, and also import other style files */

// @import "~bootstrap/dist/css/bootstrap.css";
html,
body {
    width: 100%;
    display: flex;
    height: 100%;
    flex-direction: column;
    min-height: 100%;
    position: relative;
}

body {
    margin: 0;
    width: 100%;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: rgb(245, 245, 245);
}

button,
input,
div,
textarea {
    outline: none !important;
}

main {
    display: block;
}

app-root {
    height: 100%;
}

.undisplay {
    display: none !important;
}

.mat-paginator-range-label {
    direction: ltr !important;
}

mat-progress-spinner,
.spinner-grow {
    position: absolute;
    top: 50%;
    left: 50%;
}

.loader {
    animation: spin 1s infinite linear;
    border: solid 2vmin transparent;
    border-radius: 50%;
    border-right-color: #09f;
    border-top-color: #09f;
    box-sizing: border-box;
    height: 20vmin;
    left: calc(50% - 10vmin);
    position: fixed;
    top: calc(50% - 10vmin);
    width: 20vmin;
    z-index: 1;
    &:before {
        animation: spin 2s infinite linear;
        border: solid 2vmin transparent;
        border-radius: 50%;
        border-right-color: #3cf;
        border-top-color: #3cf;
        box-sizing: border-box;
        content: "";
        height: 16vmin;
        left: 0;
        position: absolute;
        top: 0;
        width: 16vmin;
    }
    &:after {
        animation: spin 3s infinite linear;
        border: solid 2vmin transparent;
        border-radius: 50%;
        border-right-color: #6ff;
        border-top-color: #6ff;
        box-sizing: border-box;
        content: "";
        height: 12vmin;
        left: 2vmin;
        position: absolute;
        top: 2vmin;
        width: 12vmin;
    }
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}

.mat-dialog-container {
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}