.example-card {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid #ddd;
    border-radius: 13px;
    margin: 6px 0;
    padding: 9px 19px;
}

.price {
    font-weight: 600;
    font-size: 17px;
}

.plus {
    width: 20px;
    border: none;
}

.bvydiV {
    margin-bottom: 24px;
}

.fdOevz {
    height: 98px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    flex-direction: row;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    display: flex;
}

.kulOXA {
    width: 50%;
    height: 100%;
    padding: 10px;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    border: none;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.iWIluE {
    text-align: center;
    font-family: Lato, sans-serif;
    font-size: 14px;
    color: rgb(49, 173, 237);
}

.iAKgzk {
    font-family: Lato, sans-serif;
    font-size: 20px;
    color: rgb(17, 38, 49);
}

.flnGpb {
    font-family: Lato, sans-serif;
    font-size: 12px;
    color: rgb(120, 120, 120);
}

.kHzhHJ {
    background-color: rgb(255, 255, 255);
    height: 48px;
    border-radius: 10px;
    padding: 0px 15px;
    display: flex;
    flex-direction: row;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    margin-bottom: 24px;
}

.bqDjKV {
    margin-bottom: 10px;
    font-family: Lato, sans-serif;
    font-weight: bold;
    font-size: 14px;
    color: rgb(17, 38, 49);
}

.hwMxjN {
    font-family: Lato, sans-serif;
    font-size: 14px;
    color: rgb(17, 38, 49);
    border: none;
    width: 100%;
}

@media (min-width: 1200px) {
    .icHcNW {
        bottom: 0px;
    }
}

.icHcNW {
    flex: 1 1 0%;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    background-color: rgb(245, 245, 245);
}

.fYJafp {
    padding: 15px;
    width: 98%;
}

@media (min-width: 700px) {
    .fYJafp {
        width: 50%;
    }
}

@media (min-width: 1200px) {
    .fYJafp {
        width: 70%;
    }
}

.hgOZjk {
    margin-bottom: 24px;
    margin-top: 50px;
    font-family: Lato, sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: rgb(17, 38, 49);
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
}

.dsVNJt {
    cursor: pointer;
    object-fit: contain;
    border-radius: 57px;
    font-size: 18px;
    width: 286px;
    color: rgb(255, 255, 255);
    background-color: rgb(49, 173, 237);
    font-family: Lato, sans-serif;
    display: flex;
    text-decoration: none;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
}

.euStKy {
    display: flex;
    flex-direction: column;
    margin-bottom: 70px;
    margin-top: 50px;
}

@media (min-width: 1200px) {
    .euStKy {
        flex-direction: row;
    }
}

@media (min-width: 1200px) {
    .hJnlVQ {
        width: 60%;
        margin-inline-end: 40px;
    }
}

@media (min-width: 1200px) {
    .jtUsXN {
        width: 40%;
        margin-inline-start: 40px;
    }
}

.bqDjKV {
    margin-bottom: 10px;
    font-family: Lato, sans-serif;
    font-weight: bold;
    font-size: 14px;
    color: rgb(17, 38, 49);
}

.hbQyQL {
    margin-bottom: 14px;
    width: 100%;
}

.khTIXF {
    -webkit-box-align: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    border: none;
    display: flex;
    font-family: Lato, sans-serif;
    font-size: 14px;
    height: 50px;
    -webkit-box-pack: justify;
    justify-content: space-between;
    margin: 0.5em 0px;
    padding: 0px;
    width: 100%;
    border-radius: 10px;
}

.jNHIgL {
    width: 100%;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    margin: 20px 0px 110px;
    height: 40px;
}

.ixmeHp {
    display: flex;
    padding-inline-end: 0;
}

.gIbwLe {
    margin-inline-end: 10px;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Footer height */
}

.jDEDaq {
    font-family: Lato, sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: rgb(49, 173, 237);
}

.jcvsCz {
    display: flex;
}

.bKymBI {
    background-color: rgb(255, 255, 255);
    border: none;
    display: flex;
    cursor: pointer;
    width: 35px;
}

.cXZnLc {
    font-weight: bold;
    width: 75px;
    text-align: right;
}

.ktgkUf {
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
}

.iqRYTr {
    margin-top: 0px;
    flex: 1 1 0%;
    display: flex;
    flex-direction: row;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
}

.kTfBpA {
    font-family: Lato, sans-serif;
    font-size: 12px;
    color: rgb(120, 120, 120);
    margin-top: 10px;
    text-align: center;
}

.doxodF {
    font-family: Lato, sans-serif;
    font-size: 14px;
    color: rgb(17, 38, 49);
}

.kvqIDJ {
    font-family: Lato, sans-serif;
    font-weight: bold;
    font-size: 14px;
    color: rgb(17, 38, 49);
}

.dDUVLw {
    margin-top: 14px;
    flex: 1 1 0%;
    display: flex;
    flex-direction: row;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
}

.MVQFs {
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
}

.foyaIu {
    font-family: Lato, sans-serif;
    font-size: 12px;
    color: rgb(120, 120, 120);
    margin-bottom: 10px;
}

.hxUgCd {
    border: none;
    width: 100%;
    border-radius: 10px;
    padding: 10px;
    font-family: Lato, sans-serif;
    font-size: 14px;
}

.fdOevz {
    height: 98px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    flex-direction: row;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    display: flex;
}

.iWIluE {
    text-align: center;
    font-family: Lato, sans-serif;
    font-size: 14px;
    color: rgb(49, 173, 237);
}

.ijmLSl {
    min-width: 280px;
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.iKmmnO {
    margin-inline-end: 10px;
    margin-bottom: 0.5rem;
}

.kbJGuN {
    font-family: Lato, sans-serif;
    color: rgb(17, 38, 49);
    font-size: 15px;
    cursor: pointer;
    width: 100%;
}

.address {
    width: 100%;
    border: none;
}

.disabled {
    opacity: 0.5;
}

.errorMessage {
    display: block;
    color: #ff0f4f;
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 20px 0px;
    height: 40px;
}