<div class="shopping-cart-page__Container-arjt3o-0 icHcNW" style="position: relative; min-height:calc(100vh - 110px)">
    <div class="shopping-cart-page__ContentContainer-arjt3o-3 fYJafp">
        <span class="shopping-cart-page__PageTitle-arjt3o-9 hgOZjk">{{
      getTitle() | translate
    }}</span>
        <div class="shopping-cart-page__CartBlock-arjt3o-10 euStKy">
            <div class="shopping-cart-page__FirstBlock-arjt3o-1 hJnlVQ" style="text-align: start;">
                <span class="shopping-cart-page__Title-arjt3o-7 bqDjKV">{{'Addresse de recuperation' | translate}}</span
        >
        <div class="address-button__Button-oifptd-0 kHzhHJ">
          <input
            [formControl]="pickUpAddress"
            [(ngModel)]="order.pickUpAddress"
            placeholder="{{'Tapez laddresse de recuperation' | translate}}"
            matInput
            [matAutocomplete]="auto"
            class="address"
          />
          <mat-autocomplete
            (optionSelected)="onSelectionChange($event, true)"
            autoActiveFirstOption
            #auto="matAutocomplete"
          >
            <mat-option *ngFor="let option of pickUpOptions" [value]="option">
              {{ option }}
            </mat-option>
          </mat-autocomplete>
        </div>

        <span class="shopping-cart-page__Title-arjt3o-7 bqDjKV"
          >{{"Details de laddresse (optional)" | translate}}</span
        >
        <div class="address-button__Button-oifptd-0 kHzhHJ">
          <input
            type="text"
            placeholder="{{'E.g Appartement 6, Etage 3, etc.' | translate}}"
            [formControl]="addressDetails"
            matInput
            class="address"
          />
        </div>
        <div class="style__CheckboxWrapper-sc-1q0ajs2-14 bxrYar">
          <div class="style__CheckboxWrapper-sc-18pyt5v-0 ijmLSl">
            <input
              type="checkbox"
              id="another-address"
              name="another-address"
              [(ngModel)]="anotherAddress"
              class="style__Checkbox-sc-18pyt5v-2 iKmmnO"
            /><label
              for="another-address"
              class="style__CheckboxLabel-sc-18pyt5v-1 kbJGuN"
              ><span
                >{{'Voulez vous choisir une differente addresse de restitution?' | translate}}</span
              ></label
            >
          </div>
        </div>
        <ng-container *ngIf="anotherAddress">
          <span class="shopping-cart-page__Title-arjt3o-7 bqDjKV"
            >{{'Addresse de restitution' | translate}}</span
          >
          <div class="address-button__Button-oifptd-0 kHzhHJ">
            <input
              [formControl]="dropOffAddress"
              [(ngModel)]="order.dropOffAddress"
              placeholder="{{'Tapez laddresse de restitution' | translate}}"
              matInput
              [matAutocomplete]="auto"
              class="address"
            />
            <mat-autocomplete
              (optionSelected)="onSelectionChange($event, false)"
              autoActiveFirstOption
              #auto="matAutocomplete"
            >
              <mat-option
                *ngFor="let option of dropOffOptions"
                [value]="option"
              >
                {{ option }}
              </mat-option>
            </mat-autocomplete>
          </div>
          <span class="shopping-cart-page__Title-arjt3o-7 bqDjKV"
            >{{'Details de laddresse (optional)' | translate}}</span
          >
          <div class="address-button__Button-oifptd-0 kHzhHJ">
            <input
              type="text"
              placeholder="E.g Appartement 6, Etage 3, etc."
              [formControl]="addressDetails2"
              matInput
              class="address"
            />
          </div>
        </ng-container>
        <span class="shopping-cart-page__Title-arjt3o-7 bqDjKV">Hours</span>
                <div class="shopping-cart-page__PickupDropOffContainer-arjt3o-6 bvydiV">
                    <div class="style__TimeView-sc-10wq5t7-0 fdOevz">
                        <button class="style__TimeBlock-sc-10wq5t7-1 kulOXA" (click)="openPopup(true)">
              <ng-container *ngIf="pickUpDate">
                <span class="style__TimeTitle-sc-10wq5t7-2 iWIluE"
                  >{{'Recuperation' | translate}}</span
                ><span class="style__TimeText-sc-10wq5t7-3 iAKgzk">{{
                  pickUpDate | time_format
                }}</span
                ><span class="style__DateText-sc-10wq5t7-4 flnGpb">{{
                  pickUpDate | date_format
                }}</span>
              </ng-container>
              <ng-container *ngIf="!pickUpDate">
                <span class="style__TimeTitle-sc-10wq5t7-2 iWIluE"
                  >{{'Creneau de recuperation' | translate}}</span
                >
              </ng-container></button
            ><button
              class="style__TimeBlock-sc-10wq5t7-1 kulOXA"
              (click)="openPopup(false)"
            >
              <ng-container *ngIf="dropOffDate">
                <span class="style__TimeTitle-sc-10wq5t7-2 iWIluE"
                  >{{'Restitution' | translate}}</span
                ><span class="style__TimeText-sc-10wq5t7-3 iAKgzk">{{
                  dropOffDate | time_format
                }}</span
                ><span class="style__DateText-sc-10wq5t7-4 flnGpb">{{dropOffDate | date_format}}</span>
              </ng-container>
              <ng-container *ngIf="!dropOffDate">
                <span class="style__TimeTitle-sc-10wq5t7-2 iWIluE"
                  >{{'Creneau de restitution' | translate}}</span
                >
              </ng-container>
            </button>
                    </div>
                </div>
                <div class="style__OptionnalInfoContainer-sc-1q0ajs2-7 MVQFs">
                    <span class="style__GreyTitle-sc-1q0ajs2-4 foyaIu">{{'Numero de telephone:' | translate}}</span
          ><textarea
            [(ngModel)]="phoneNumber"
            placeholder="0541234567"
            class="style__MoreInfoInput-sc-1q0ajs2-8 hxUgCd"
          ></textarea>
        </div>
        <div class="style__OptionnalInfoContainer-sc-1q0ajs2-7 MVQFs">
          <span class="style__GreyTitle-sc-1q0ajs2-4 foyaIu"
            >{{'Information optionelle' | translate}}</span
          ><textarea
            [(ngModel)]="comment"
            placeholder="{{'Avez-vous une requête particulière ?' | translate}}"
            class="style__MoreInfoInput-sc-1q0ajs2-8 hxUgCd"
          ></textarea>
        </div>
      </div>
      <div class="shopping-cart-page__SecondBlock-arjt3o-2 jtUsXN" style="text-align: start;">
        <span class="shopping-cart-page__Title-arjt3o-7 bqDjKV">{{'Commande' | translate}}</span>
                    <div class="products-in-cart__ProductsContainer-mbbtn6-0 hbQyQL">
                        <div class="productList__ProductLineContainer-sc-1oz9rbz-6 khTIXF row" *ngFor="let product of filteredProducts">
                            <div class="productList__ProductName-sc-1oz9rbz-2 ixmeHp col-5">
                                <div class="productList__QuantityContainer-sc-1oz9rbz-7 gIbwLe">
                                    <span class="productList__Number-sc-1oz9rbz-8 jDEDaq">x{{ getRecurrence(product) }}</span>
                                </div>
                                {{ product.name }}
                            </div>
                            <div class="col-4" style="display: flex;" *ngIf="isNew == 'true'">
                                <button class="productList__PlusContainer-sc-1oz9rbz-0 bKymBI" (click)="remove(product)">
                <img src="../../../assets/images/minus.png" /></button>
                                <button class="productList__PlusContainer-sc-1oz9rbz-0 bKymBI" (click)="add(product)"><img src="../../../assets/images/plus.png" /></button>
                            </div>
                            <div class="productList__RightContainer-sc-1oz9rbz-9 jcvsCz col-3">

                                <span class="productList__Price-sc-1oz9rbz-4 cXZnLc">{{ product.price }} &#8362;</span
              >
            </div>
          </div>
        </div>

        <div class="order-summary__Container-sc-2gc5ap-0 ktgkUf">
          <div class="order-summary__SummaryLineContainer-sc-2gc5ap-1 dDUVLw">
            <span class="order-summary__InputDark-sc-2gc5ap-3 doxodF"
              >{{'Frais de livraison' | translate}}</span
            ><span class="order-summary__H3Dark-sc-2gc5ap-4 kvqIDJ"
              >10 &#8362;</span
            >
          </div>
          <div class="order-summary__SummaryLineContainer-sc-2gc5ap-1 dDUVLw" *ngIf="offerFidelity">
            <span class="order-summary__InputDark-sc-2gc5ap-3 doxodF"
              >{{'Mon offre de fidelite' | translate}}</span
            ><span class="order-summary__H3Dark-sc-2gc5ap-4 kvqIDJ"
              >-10%</span
            >
          </div>
          
          <div class="order-summary__SummaryLineContainer-sc-2gc5ap-1 dDUVLw" *ngIf="!offerFidelity">
            <span class="order-summary__InputDark-sc-2gc5ap-3 doxodF"
              >{{'Total' | translate}}</span
            ><span class="order-summary__H3Dark-sc-2gc5ap-4 kvqIDJ"
              >{{ getPrice() }} &#8362;</span
            >
          </div>

          <div class="order-summary__SummaryLineContainer-sc-2gc5ap-1 dDUVLw" *ngIf="offerFidelity">
            <span class="order-summary__InputDark-sc-2gc5ap-3 doxodF"
              >{{'Total' | translate}}</span
            ><span class="order-summary__H3Dark-sc-2gc5ap-4 kvqIDJ"
              ><span style="text-decoration: line-through; font-size: 12px;">{{priceWithouOffer}} &#8362;</span> <br> {{ getPrice() }} &#8362; </span>
                            </div>
                            <span class="order-summary__MinimumPrice-sc-2gc5ap-2 kTfBpA">{{'Commande minimum: 100' | translate}}&#8362;
          </span>
                            <span class="order-summary__MinimumPrice-sc-2gc5ap-2 kTfBpA" style="text-align: start;">*{{"Dans le cas où un article est endommagé par le pressing de votre choix, cleeser se decharge de tout responsabilités." | translate}}</span>
                        </div>
                    </div>
                </div>
                <span class="errorMessage" *ngIf="errorMessage">{{ errorMessage | translate }}</span>
                <h1 style="text-align: center;"> {{ getMessageButton() | translate }}:</h1>
                <div class="shopping-cart-page__ButtonContainer-arjt3o-4 jNHIgL">
                    <a [ngClass]="isInvalidOrder ? 'disabled' : ''" (click)="createOrder()" width="286px" class="style__ButtonStyle-zdp3iu-0 dsVNJt">
        {{ payment == 'paypal' ? 'Modifier la commande' : 'Paiement en espece' | translate }}
      </a>
                    <div #paypalRef style="z-index: 1;" [ngClass]="!(isNew == 'true' || payment == 'cash') ? 'displayNone': ''"></div>
                </div>


            </div>
            <footer class="d-none d-lg-block">
                <app-footer></app-footer>
            </footer>
        </div>