<footer class="ihYol mb-5 mb-xl-0">
    <div class="container" style="max-width: 1300px;">
        <div class="row justify-content-between py-3">

            <div class="col-12 col-md-2  align-items-center mb-3 d-none d-md-flex order-0">
                <img src="../assets/images/logoBlue.png" alt="" style="width: 145px" class="mx-auto" />
            </div>

            <div class="style__Infos-x1xec6-16 hCQwYC col-12 col-md text-center order-2 order-md-1">

                <div style="line-height: 1.5;">
                    <svg width="24" height="24" viewBox="0 0 24 24" class="mx-2">
                  <g stroke="#ffffff" fill="#909090">
                    <path d="M19 2c0-1.104-.896-2-2-2h-10c-1.104 0-2 .896-2 2v20c0 1.104.896 2 2 2h10c1.104 0 2-.896 2-2v-20zm-8.5 0h3c.276 0 .5.224.5.5s-.224.5-.5.5h-3c-.276 0-.5-.224-.5-.5s.224-.5.5-.5zm1.5 20c-.553 0-1-.448-1-1s.447-1 1-1c.552 0 .999.448.999 1s-.447 1-.999 1zm5-3h-10v-14.024h10v14.024z"></path>
                  </g></svg>0535318799 - 0587949103
                </div>
                <div style="line-height: 1.5;">
                    <svg width="24" height="24" fill-rule="evenodd" clip-rule="evenodd" fill="#909090" class="mx-2">
                    <path d="M24 21h-24v-18h24v18zm-23-16.477v15.477h22v-15.477l-10.999 10-11.001-10zm21.089-.523h-20.176l10.088 9.171 10.088-9.171z"></path></svg>contact@cleeser.com
                </div>
                <div style="line-height:1.5">
                    Dim-Jeu : 17h-22h |<br class="d-block d-md-none"> Ven : 8h-12h |<br class="d-block d-md-none"> Sam : 20h-23h
                </div>
            </div>

            <div class="d-flex col-12 col-md-2 align-items-center justify-content-center order-1 order-md-2 mb-2">
                <a target="_blank" href="https://fr-fr.facebook.com/cleeser.comance/" class="style__InformationExternalLink-x1xec6-7 iBTeni mx-2 ">
                    <div class="socials__Social-oun2cu-0 eUQayd">
                        <img class="fb" src="../assets/images/facebook.png" /></div>
                </a>
                <a target="_blank" href="https://www.instagram.com/cleeser.comance/" class="BTeni insta">
                    <div class="socials__Social-oun2cu-0 eUQayd">
                        <img src="../assets/images/instagram.png" /></div>
                </a>
            </div>
        </div>
    </div>
</footer>