<mat-slide-toggle class="adminToggle" (change)="toggleAdminMode($event)" *ngIf="isAuthenticated && isAdmin" [checked]="adminMode">
    Admin mode
</mat-slide-toggle>
<header class="foxapp-header header-desktop" id="header">
    <div style="height: 90px;">
        <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #4DA4E0;" id="foxapp_menu">
            <div class="container-fluid  navbar navbar-default navbar-fixed-top">

                <div class="container" id="main_menu">

                    <div class="row justify-content-between w-100 align-items-center" style="height: 90px; direction: ltr;">

                        <div class="col-3 logo" [routerLink]="['/home'] | localize">
                            <img src="assets/images/logo-blanc2.png" class="mr-auto" id="logoMenuWhite" style="width: 170px" alt="">
                            <img src="assets/images/logoBlue.png" id="logoMenuBlue" class="mr-auto d-none" style="width: 150px" alt="">
                        </div>
                        <div class="d-flex align-items-center justify-content-end col-lg-7 col-xl-8 ">
                            <ul *ngIf="!adminMode" class="d-flex">
                                <li class="nav-item">
                                    <a class="nav-link anchor" [routerLink]="['/home'] | localize" routerLinkActive="active"> {{'Accueil' | translate}}</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link anchor" [routerLink]="['/pressing'] | localize" routerLinkActive="active"> {{ 'Nos tarifs' | translate }}</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link anchor" [routerLink]="['/orders'] | localize" routerLinkActive="active">{{'Mes commandes' | translate}}</a>
                                </li>
                            </ul>
                            <ul *ngIf="adminMode" class="d-flex">
                                <li class="nav-item">
                                    <a class="nav-link anchor" [routerLink]="['/home'] | localize" routerLinkActive="active">Accueil</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link anchor" [routerLink]="['/manage-orders'] | localize" routerLinkActive="active"> Gestion de commande</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link anchor" [routerLink]="['/pressing-creator'] | localize" routerLinkActive="active">Creer un pressing</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link anchor" [routerLink]="['/users'] | localize" routerLinkActive="active">Mes utilisateurs</a>
                                </li>
                            </ul>
                            <a *ngIf="!isAuthenticated" [routerLink]="['/signin'] | localize" routerLinkActive="active" class="btnSignIn" (click)="changedTab('signin')">{{'Se connecter' | translate}}</a>
                            <a *ngIf="isAuthenticated" [routerLink]="['/profile'] | localize" routerLinkActive="active" class="btnSignIn">{{user?.fullname}}</a>

                        </div>
                        <div class="col-2 col-xl-1 nav-item dropdown">
                            <div ngbDropdown class="d-inline-block">
                                <button class="btn dropdown-font btnLang" id="dropdownBasic1" style="box-shadow: none;" ngbDropdownToggle>{{ 'Language' | translate }}</button>
                                <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                                    <button (click)="chooseLang('fr')" ngbDropdownItem>
                                <div class="row align-items-center"><img src="../../../assets/images/FR.png" alt="" style="width: 25px; margin-right: 10px;"> Francais </div>
                              </button>
                                    <button (click)="chooseLang('en')" ngbDropdownItem>
                                <div class="row align-items-center"><img src="../../../assets/images/EN.png" alt="" style="width: 25px; margin-right: 10px;"> English</div>
                              </button>
                                    <button (click)="chooseLang('il')" ngbDropdownItem>
                                <div class="row align-items-center"><img src="../../../assets/images/IL.png" alt="" style="width: 25px; margin-right: 10px;"> עברית</div>
                              </button>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </nav>
    </div>

</header>
<div class="mobile-menu__MobileMenuContainer-sc-17s3h0k-0 GbnXQ">
    <a (click)="changedTab('home')" [routerLink]="['/home' | localize ]" class="mobile-menu__MobileMenuLink-sc-17s3h0k-1 gZpUAS">
        <svg width="24" height="24" *ngIf="selectedTab === 'home'">
      <path
        fill="#4DA4E0"
        d="M13.297 3.517a1.884 1.884 0 00-2.594 0L3 11.214l.869.869 1.4-1.401v7.593c0 1.013.823 1.835 1.836 1.835h9.79a1.835 1.835 0 001.835-1.835v-7.593l1.401 1.401.869-.869-7.703-7.697zm-2.52 15.37v-4.283h2.447v4.283h-2.448zm6.73-.612a.612.612 0 01-.612.612h-2.448V13.38H9.553v5.507H7.105a.612.612 0 01-.611-.612V9.458l5.072-5.078a.612.612 0 01.868 0l5.072 5.078v8.817z"
        fill-rule="evenodd"
      ></path>
    </svg>
        <svg width="24" height="24" *ngIf="selectedTab !== 'home'">
      <path
        d="M13.297 3.517a1.884 1.884 0 00-2.594 0L3 11.214l.869.869 1.4-1.401v7.593c0 1.013.823 1.835 1.836 1.835h9.79a1.835 1.835 0 001.835-1.835v-7.593l1.401 1.401.869-.869-7.703-7.697zm-2.52 15.37v-4.283h2.447v4.283h-2.448zm6.73-.612a.612.612 0 01-.612.612h-2.448V13.38H9.553v5.507H7.105a.612.612 0 01-.611-.612V9.458l5.072-5.078a.612.612 0 01.868 0l5.072 5.078v8.817z"
        fill-rule="evenodd"
      ></path>
    </svg>
        <div class="mobile-menu__MobileMenuText-sc-17s3h0k-2" [ngClass]="selectedTab === 'home' ? 'gfhcyg' : 'kxwuOc'">
            {{'Accueil' | translate}}
        </div>
    </a>
    <a *ngIf="!adminMode" (click)="changedTab('pressings')" [routerLink]="['/pressing'] | localize" class="mobile-menu__MobileMenuLink-sc-17s3h0k-1 gZpUAS">
        <svg width="24" height="24" *ngIf="selectedTab === 'pressings' || selectedTab === 'pressing'">
      <path
        d="M13.022 1.5c.292.001.573.1.799.278l.108.095 2.192 2.155H21v16.576c0 .997-.783 1.815-1.778 1.89l-.15.006H4.928c-1.015 0-1.846-.77-1.923-1.748L3 20.604V4.028h4.88l2.191-2.155c.206-.204.475-.331.762-.364l.145-.009h2.044zm6.692 3.793H4.286v15.31c0 .318.238.58.548.626l.095.007H19.07a.64.64 0 00.636-.539l.007-.093V5.293zM12 8.35a5.65 5.65 0 110 11.3 5.65 5.65 0 010-11.3zm0 1.3a4.35 4.35 0 100 8.7 4.35 4.35 0 000-8.7zm0 .518a3.832 3.832 0 110 7.664 3.832 3.832 0 010-7.664zm0 1.3a2.532 2.532 0 100 5.064 2.532 2.532 0 000-5.064zM18 6.5v1h-2v-1h2zm-4.978-3.736h-2.044L9.692 4.028h4.616l-1.286-1.264z"
        fill="#4DA4E0"
        fill-rule="evenodd"
      ></path>
    </svg>
        <svg width="24" height="24" *ngIf="selectedTab !== 'pressings' && selectedTab !== 'pressing'">
      <path
        d="M13.022 1.5c.292.001.573.1.799.278l.108.095 2.192 2.155H21v16.576c0 .997-.783 1.815-1.778 1.89l-.15.006H4.928c-1.015 0-1.846-.77-1.923-1.748L3 20.604V4.028h4.88l2.191-2.155c.206-.204.475-.331.762-.364l.145-.009h2.044zm6.692 3.793H4.286v15.31c0 .318.238.58.548.626l.095.007H19.07a.64.64 0 00.636-.539l.007-.093V5.293zM12 8.35a5.65 5.65 0 110 11.3 5.65 5.65 0 010-11.3zm0 1.3a4.35 4.35 0 100 8.7 4.35 4.35 0 000-8.7zm0 .518a3.832 3.832 0 110 7.664 3.832 3.832 0 010-7.664zm0 1.3a2.532 2.532 0 100 5.064 2.532 2.532 0 000-5.064zM18 6.5v1h-2v-1h2zm-4.978-3.736h-2.044L9.692 4.028h4.616l-1.286-1.264z"
        fill="#112631"
        fill-rule="evenodd"
      ></path>
    </svg>
        <div class="mobile-menu__MobileMenuText-sc-17s3h0k-2" [ngClass]="selectedTab === 'pressings' || selectedTab === 'pressing' ? 'gfhcyg' : 'kxwuOc'">
            {{'Tarifs' | translate}}
        </div>
    </a><a *ngIf="!adminMode" [routerLink]="['/orders'] | localize" (click)="changedTab('orders')" class="mobile-menu__MobileMenuLink-sc-17s3h0k-1 gZpUAS"><svg
      width="24"
      height="24"
      *ngIf="selectedTab === 'orders'"
    >
      <path
        d="M19.071 6.571h-3.857V5.286c0-.71-.575-1.286-1.285-1.286H10.07c-.71 0-1.285.576-1.285 1.286V6.57H4.929A1.929 1.929 0 003 8.5v11.571h18V8.5a1.929 1.929 0 00-1.929-1.929zm-9-1.285h3.858V6.57H10.07V5.286zm9.643 13.5H4.286v-7.072H5.57v2.572h3.86v-2.572h5.142v2.572h3.858v-2.572h1.285v7.072zM6.857 11.714h1.286V13H6.857v-1.286zm9 0h1.286V13h-1.286v-1.286zm2.572-1.285H4.286V8.5c0-.355.288-.643.643-.643H19.07c.355 0 .643.288.643.643v1.929H18.43z"
        fill="#4DA4E0"
        fill-rule="evenodd"
      ></path>
    </svg>
    <svg
      width="24"
      height="24"
      *ngIf="selectedTab !== 'orders'"
    >
      <path
        d="M19.071 6.571h-3.857V5.286c0-.71-.575-1.286-1.285-1.286H10.07c-.71 0-1.285.576-1.285 1.286V6.57H4.929A1.929 1.929 0 003 8.5v11.571h18V8.5a1.929 1.929 0 00-1.929-1.929zm-9-1.285h3.858V6.57H10.07V5.286zm9.643 13.5H4.286v-7.072H5.57v2.572h3.86v-2.572h5.142v2.572h3.858v-2.572h1.285v7.072zM6.857 11.714h1.286V13H6.857v-1.286zm9 0h1.286V13h-1.286v-1.286zm2.572-1.285H4.286V8.5c0-.355.288-.643.643-.643H19.07c.355 0 .643.288.643.643v1.929H18.43z"
        fill="#112631"
        fill-rule="evenodd"
      ></path>
    </svg>
    <div
      class="mobile-menu__MobileMenuText-sc-17s3h0k-2"
      [ngClass]="selectedTab === 'orders' ? 'gfhcyg' : 'kxwuOc'"
    >
    {{'Commandes' | translate}}
    </div></a
  ><a
    *ngIf="isAuthenticated && !adminMode"
    [routerLink]="['/profile'] | localize"
    (click)="changedTab('profile')"
    class="mobile-menu__MobileMenuLink-sc-17s3h0k-1 gZpUAS"
    ><svg
      width="24"
      height="24"
      *ngIf="selectedTab === 'profile'"
    >
      <path
        d="M17.538 12.692A3.462 3.462 0 0121 16.154V21h-1.385v-4.846c0-1.147-.93-2.077-2.077-2.077H6.462c-1.148 0-2.077.93-2.077 2.077V21H3v-4.846a3.462 3.462 0 013.462-3.462zM12 3a4.154 4.154 0 110 8.308A4.154 4.154 0 0112 3zm0 1.385a2.77 2.77 0 100 5.538 2.77 2.77 0 000-5.538z"
        fill="#4DA4E0"
        fill-rule="evenodd"
      ></path>
    </svg>
    <svg
      width="24"
      height="24"
      *ngIf="selectedTab !== 'profile'"
    >
      <path
        d="M17.538 12.692A3.462 3.462 0 0121 16.154V21h-1.385v-4.846c0-1.147-.93-2.077-2.077-2.077H6.462c-1.148 0-2.077.93-2.077 2.077V21H3v-4.846a3.462 3.462 0 013.462-3.462zM12 3a4.154 4.154 0 110 8.308A4.154 4.154 0 0112 3zm0 1.385a2.77 2.77 0 100 5.538 2.77 2.77 0 000-5.538z"
        fill="#112631"
        fill-rule="evenodd"
      ></path>
    </svg>
    <div
      class="mobile-menu__MobileMenuText-sc-17s3h0k-2"
      [ngClass]="selectedTab === 'profile' ? 'gfhcyg' : 'kxwuOc'"
    >
      {{'Profile' | translate}}
    </div></a
  >
  <a
    *ngIf="!isAuthenticated"
    (click)="changedTab('signin')"
    [routerLink]="['/signin'] | localize"
    class="mobile-menu__MobileMenuLink-sc-17s3h0k-1 gZpUAS"
    ><svg
      width="24"
      height="24"
      *ngIf="selectedTab === 'signin'"
    >
      <path
        d="M17.538 12.692A3.462 3.462 0 0121 16.154V21h-1.385v-4.846c0-1.147-.93-2.077-2.077-2.077H6.462c-1.148 0-2.077.93-2.077 2.077V21H3v-4.846a3.462 3.462 0 013.462-3.462zM12 3a4.154 4.154 0 110 8.308A4.154 4.154 0 0112 3zm0 1.385a2.77 2.77 0 100 5.538 2.77 2.77 0 000-5.538z"
        fill="#4DA4E0"
        fill-rule="evenodd"
      ></path>
    </svg>
    <svg
      width="24"
      height="24"
      *ngIf="selectedTab !== 'signin'"
    >
      <path
        d="M17.538 12.692A3.462 3.462 0 0121 16.154V21h-1.385v-4.846c0-1.147-.93-2.077-2.077-2.077H6.462c-1.148 0-2.077.93-2.077 2.077V21H3v-4.846a3.462 3.462 0 013.462-3.462zM12 3a4.154 4.154 0 110 8.308A4.154 4.154 0 0112 3zm0 1.385a2.77 2.77 0 100 5.538 2.77 2.77 0 000-5.538z"
        fill="#112631"
        fill-rule="evenodd"
      ></path>
    </svg>
    <div
      class="mobile-menu__MobileMenuText-sc-17s3h0k-2"
      [ngClass]="selectedTab === 'signin' ? 'gfhcyg' : 'kxwuOc'"
    >
      {{'Signin' | translate}}
    </div></a
  >
  <a
    *ngIf="adminMode"
    [routerLink]="['/manage-orders'] | localize"
    (click)="changedTab('manageorder')"
    class="mobile-menu__MobileMenuLink-sc-17s3h0k-1 gZpUAS"
    ><svg
      width="24"
      height="24"
      *ngIf="selectedTab === 'manageorder'"
    >
      <path
        d="M19.071 6.571h-3.857V5.286c0-.71-.575-1.286-1.285-1.286H10.07c-.71 0-1.285.576-1.285 1.286V6.57H4.929A1.929 1.929 0 003 8.5v11.571h18V8.5a1.929 1.929 0 00-1.929-1.929zm-9-1.285h3.858V6.57H10.07V5.286zm9.643 13.5H4.286v-7.072H5.57v2.572h3.86v-2.572h5.142v2.572h3.858v-2.572h1.285v7.072zM6.857 11.714h1.286V13H6.857v-1.286zm9 0h1.286V13h-1.286v-1.286zm2.572-1.285H4.286V8.5c0-.355.288-.643.643-.643H19.07c.355 0 .643.288.643.643v1.929H18.43z"
        fill="#4DA4E0"
        fill-rule="evenodd"
      ></path>
    </svg>
    <svg
      width="24"
      height="24"
      *ngIf="selectedTab !== 'manageorder'"
    >
      <path
        d="M19.071 6.571h-3.857V5.286c0-.71-.575-1.286-1.285-1.286H10.07c-.71 0-1.285.576-1.285 1.286V6.57H4.929A1.929 1.929 0 003 8.5v11.571h18V8.5a1.929 1.929 0 00-1.929-1.929zm-9-1.285h3.858V6.57H10.07V5.286zm9.643 13.5H4.286v-7.072H5.57v2.572h3.86v-2.572h5.142v2.572h3.858v-2.572h1.285v7.072zM6.857 11.714h1.286V13H6.857v-1.286zm9 0h1.286V13h-1.286v-1.286zm2.572-1.285H4.286V8.5c0-.355.288-.643.643-.643H19.07c.355 0 .643.288.643.643v1.929H18.43z"
        fill="#112631"
        fill-rule="evenodd"
      ></path>
    </svg>
    <div
      class="mobile-menu__MobileMenuText-sc-17s3h0k-2"
      [ngClass]="selectedTab === 'manageorder' ? 'gfhcyg' : 'kxwuOc'"
    >
      {{'Gestion de commandes' | translate}}
    </div></a
  >
  <a
    *ngIf="adminMode"
    (click)="changedTab('pressingcreator')"
    [routerLink]="['/pressing-creator'] | localize"
    class="mobile-menu__MobileMenuLink-sc-17s3h0k-1 gZpUAS"
    ><svg
      width="24"
      height="24"
      *ngIf="selectedTab === 'pressingcreator'"
    >
      <path
        d="M13.022 1.5c.292.001.573.1.799.278l.108.095 2.192 2.155H21v16.576c0 .997-.783 1.815-1.778 1.89l-.15.006H4.928c-1.015 0-1.846-.77-1.923-1.748L3 20.604V4.028h4.88l2.191-2.155c.206-.204.475-.331.762-.364l.145-.009h2.044zm6.692 3.793H4.286v15.31c0 .318.238.58.548.626l.095.007H19.07a.64.64 0 00.636-.539l.007-.093V5.293zM12 8.35a5.65 5.65 0 110 11.3 5.65 5.65 0 010-11.3zm0 1.3a4.35 4.35 0 100 8.7 4.35 4.35 0 000-8.7zm0 .518a3.832 3.832 0 110 7.664 3.832 3.832 0 010-7.664zm0 1.3a2.532 2.532 0 100 5.064 2.532 2.532 0 000-5.064zM18 6.5v1h-2v-1h2zm-4.978-3.736h-2.044L9.692 4.028h4.616l-1.286-1.264z"
        fill="#4DA4E0"
        fill-rule="evenodd"
      ></path>
    </svg>
    <svg
      width="24"
      height="24"
      *ngIf="selectedTab !== 'pressingcreator'"
    >
      <path
        d="M13.022 1.5c.292.001.573.1.799.278l.108.095 2.192 2.155H21v16.576c0 .997-.783 1.815-1.778 1.89l-.15.006H4.928c-1.015 0-1.846-.77-1.923-1.748L3 20.604V4.028h4.88l2.191-2.155c.206-.204.475-.331.762-.364l.145-.009h2.044zm6.692 3.793H4.286v15.31c0 .318.238.58.548.626l.095.007H19.07a.64.64 0 00.636-.539l.007-.093V5.293zM12 8.35a5.65 5.65 0 110 11.3 5.65 5.65 0 010-11.3zm0 1.3a4.35 4.35 0 100 8.7 4.35 4.35 0 000-8.7zm0 .518a3.832 3.832 0 110 7.664 3.832 3.832 0 010-7.664zm0 1.3a2.532 2.532 0 100 5.064 2.532 2.532 0 000-5.064zM18 6.5v1h-2v-1h2zm-4.978-3.736h-2.044L9.692 4.028h4.616l-1.286-1.264z"
        fill="#112631"
        fill-rule="evenodd"
      ></path>
    </svg>
    <div class="mobile-menu__MobileMenuText-sc-17s3h0k-2">
      Creer un pressing
    </div></a
  >
  <a
    *ngIf="adminMode"
    (click)="changedTab('users')"
    [routerLink]="['/users'] | localize"
    class="mobile-menu__MobileMenuLink-sc-17s3h0k-1 gZpUAS"
    ><svg
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 24 24"
      fill="#4DA4E0"
      stroke="currentColor"
      stroke-width="2"
      *ngIf="selectedTab === 'users'"
      stroke-linecap="round"
      stroke-linejoin="round"
      class="users"
    >
      <path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path>
      <circle cx="9" cy="7" r="4"></circle>
      <path d="M23 21v-2a4 4 0 0 0-3-3.87"></path>
      <path d="M16 3.13a4 4 0 0 1 0 7.75"></path>
    </svg>
    <svg
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      *ngIf="selectedTab !== 'users'"
      stroke-linecap="round"
      stroke-linejoin="round"
      class="users"
    >
      <path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path>
      <circle cx="9" cy="7" r="4"></circle>
      <path d="M23 21v-2a4 4 0 0 0-3-3.87"></path>
      <path d="M16 3.13a4 4 0 0 1 0 7.75"></path>
    </svg>
    <div class="mobile-menu__MobileMenuText-sc-17s3h0k-2">
      Mes utilisateurs
    </div></a
  >
</div>