.main {
  min-height: 81%;
}
.example-spacer {
  flex: 1 1 auto;
}

.main {
  margin-top: 80px;
}

::ng-deep {
  mat-slide-toggle {
    label {
      display: flex !important;
      flex-direction: column !important;
      overflow: visible;
      height: unset !important;
      span {
        font-size: 14px;
        display: block;
      }
    }
  }
}

.etqwYy {
  transition: background-color 0.5s ease 0s;
  display: flex;
  background-color: white;
  -webkit-box-pack: justify;
  justify-content: space-between;
  padding-left: 220px;
  padding-right: 15%;
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 200;
}

.glxzAh {
  display: none;
}

@media (min-width: 1200px) {
  .glxzAh {
    display: block;
    margin-right: 5%;
    min-width: 150px;
  }
}

.hGkhFL {
  -webkit-box-align: center;
  align-items: center;
  display: none;
  height: 80px;
  margin: 0px;
  width: 85%;
}

@media (min-width: 1200px) {
  .hGkhFL {
    display: flex;
  }
}

.hcjVjE {
  color: rgb(17, 38, 49);
  font-family: Lato, sans-serif;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  position: relative;
  width: 30%;
}

.lkwfuK {
  color: rgb(17, 38, 49);
}

.fXFOoG {
  display: none;
  justify-content: right;
  margin-left: auto;
  text-align: center;
  min-width: 20%;
  min-height: 40px;
}

@media (min-width: 1200px) {
  .fXFOoG {
    display: flex;
  }
}

.dDpprB {
  object-fit: contain;
  border-radius: 10px;
  font-size: 15px;
  width: 100%;
  color: rgb(255, 255, 255);
  background-color: rgb(49, 173, 237);
  font-family: Lato, sans-serif;
  display: flex;
  text-decoration: none;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  padding: 4px;
}

.GbnXQ {
  -webkit-box-align: center;
  align-items: center;
  background-color: rgb(255, 255, 255);
  bottom: 0px;
  display: none;
  height: 80px;
  position: fixed;
  margin: 0px;
  width: 100%;
  z-index: 1;
}

@media (max-width: 1200px) {
  .GbnXQ {
    display: flex !important;
  }
}

.gZpUAS {
  color: rgb(17, 38, 49);
  font-family: Lato, sans-serif;
  font-size: 10px;
  text-align: center;
  text-decoration: none;
  width: 100%;
}

.gfhcyg {
  color: rgb(49, 173, 237);
}

.ihYol {
  -webkit-box-align: center;
  align-items: center;
  border-top: 1px solid rgb(120, 120, 120);
  color: rgb(17, 38, 49);
  display: flex;
  flex-direction: column;
  font-size: 16px;
  font-family: Lato, sans-serif;
  justify-content: space-around;
  padding: 20px 0px;
  width: 100%;
}

@media (min-width: 1200px) {
  .ihYol {
    flex-direction: row;
    padding: 24px 20% 18px;
  }
}

.frUVWH {
  display: none;
}

@media (min-width: 1200px) {
  .frUVWH {
    display: block;
    min-width: 150px;
  }
}

@media (min-width: 1200px) {
  .hCQwYC {
    margin-bottom: 0 !important;
  }

  .cNkTUt {
    display: flex !important;
  }
  .hSdRpI {
    margin-bottom: 3px;
  }
}

footer {
  flex-shrink: 0;
  width: 100%;
  background-color: white;
}
.hCQwYC {
  display: flex;
  margin-bottom: 15px;
  flex-direction: column;
}
.cNkTUt {
  display: none;
  -webkit-box-pack: center;
  justify-content: center;
  margin-top: 10px;
}

.cTuedD {
  -webkit-box-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: auto;
  width: 400px;
}

@media (min-width: 1200px) {
  .cTuedD {
    flex-direction: row;
  }
}

.hSdRpI {
  display: flex;
  justify-content: space-around;
  width: 170px;
}

.iBTeni {
  color: inherit;
  font-size: 12px;
  text-decoration: none;
}
.fnwwqL {
  margin: 0px auto;
  padding-top: 0px;
  overflow: hidden;
}

.iyJUft {
  display: flex;
  flex-direction: row;
}

.svg {
  height: 45px;
  width: 45px;
}

.slidetoggle {
  width: 0;
  justify-content: flex-end;
}

.svg2 path {
  fill: #31aded;
}

.users {
  width: 23px;
}

.insta {
  display: flex;
  align-items: center;
}
