<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->
    <a class="active">Reset password</a>

    <!-- Icon -->

    <!-- Login Form -->
    <div *ngIf="!showMessage">
      <input
        class="resetinput"
        autocomplete="off"
        [(ngModel)]="email"
        type="text"
        name="email"
        placeholder="Email"
      />

      <button (click)="onSubmit()" type="submit">Reset your password</button>
    </div>
    <div class="showMessage" *ngIf="showMessage">
      <span
        >Nous vous avons envoye un email pour reinitializer votre mot de
        passe</span
      >
    </div>
    <div class="error" *ngIf="errorMessage">
      <span>{{ errorMessage }}</span>
    </div>
  </div>
</div>
