<div class="container">
    <div class="row justify-content-center align-items-center" style="min-height:67vh">
        <div id="formContent">
            <!-- Tabs Titles -->
            <a class="active">{{'Réinitialisation du mot de passe' |translate}}</a>

            <!-- Icon -->

            <!-- Login Form -->
            <div *ngIf="!showMessage">
                <input class="resetinput" autocomplete="off" [(ngModel)]="email" type="text" name="email" placeholder="{{'Email' | translate}}" />

                <button (click)="onSubmit()" type="submit">{{'Réinitialiser votre mot de passe' | translate}}</button>
            </div>
            <div class="showMessage" *ngIf="showMessage">
                <span>{{'Nous vous avons renvoyé un email pour réinitialiser votre mot de passe' | translate}}</span
      >
    </div>
    <div class="error" *ngIf="errorMessage">
      <span>{{ errorMessage | translate}}</span>
            </div>
        </div>
    </div>
</div>