<main class="bg-white">

    <section class="container-fluid pt-5 mb-5 section1">
        <div class="container" style="max-width: 1300px;">
            <div class="row">
                <div class="col" data-aos="fade-right" data-aos-delay="1000" data-aos-duration="2000">
                    <h1 class="mx-auto">Le pressing de votre choix à porter de main !</h1>

                    <div class="text-center btnPressing">
                        <span style="font-size: 20px;">Nos Pressings</span>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <hr>
    <section class="container-fluid section2" style="margin-bottom: 100px;">
        <div class="container">
            <div class="text-center" data-aos="fade-up" data-aos-duration="3000">
                <h2>Comment ça marche ?</h2>
            </div>

            <div class="row">
                <div class="col align-self-center">
                    <p class="titleStep">4 étapes seulement:</p>
                    <h3>Choix du pressing</h3>
                    <p class="paragraph4">sélectionner le pressing parmi nos différents partenaires</p>
                    <h3>Commander via Cleeser.com</h3>
                    <p class="paragraph4">renseigner l’heur et la date</p>
                    <h3>Recuperation des vêtements</h3>
                    <p class="paragraph4">le livreur vient directement chez vous récupérer vos vêtements</p>
                    <h3>Livraison des vêtements</h3>
                    <p class="paragraph4">Vos vêtements lavés et repassés sont livrer a votre domicile</p>
                </div>

                <div class="col text-right col" data-aos="fade-left" data-aos-delay="1000" data-aos-duration="2000">
                    <img src="../../../assets/images/flyercleanservice-removebg-preview.png" style="width: 525px;">
                </div>
            </div>
        </div>
    </section>

    <section class="container-fluid section3 py-5">
        <div class="container">
            <div class="row justify-content-center">
                <h2 class="text-center" data-aos="fade-up" data-aos-duration="2000">Qui sommes-nous ?</h2>
                <div class="text-center">
                    <p class="quiSomme">Qui n’a jamais laisser traîner un costume, une robe de soirée, un manteau ou même des rideaux durant des mois chez soi pour les amener au pressing mais toujours reporter ca à plus tard par manque de temps ou par flemme ? Effectivement,
                        on est tous d’accord. C’est pour cela que nous avons développer cette plateforme qui assure la livraison pour vous, grâce notre service et nos différent partenariat avec les pressings. De ce fait en quelque clique sans bouger de
                        chez vous vos vêtements sont récupérés lavés repassés et livrés. Vous l’avez compris notre but et de vous facilité la vie. Prenez les choses en main et faite nous confiance en faisant appel à Cleeser. <br> A très vite ! <br> L’équipe
                        Cleeser
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section style="height:200px">

    </section>
</main>