<section id="slide" class="slide background-withcolor">
    <div class="content-bottom">
        <div class="container">
            <div class="row align-items-center" style="padding-top: 100px;">
                <div class="col-md-7 aos-init aos-animate" data-aos="fade-right">


                    <p style="font-size: 50px; line-height: 61px;">{{ 'lepressingdevotrechoix' | translate }}</p>
                    <a (click)="goToLinkOfPath('pressings')" class="btn btn-primary btn-white shadow btn-theme d-none d-md-block ml-3"><span style="font-weight: bold;">Nos Pressings</span></a>
                </div>
                <div class="col-md-5 aos-init aos-animate" data-aos="fade-left" data-aos-delay="200">

                    <div style="position: relative; width: 267px;" class="mx-auto">
                        <img src="assets/images/logoPhoneHome.png" class="img-fluid d-block mx-auto" style="max-width: 560px;" alt="">
                        <a (click)="goToLinkOfPath('pressings')" class="btn btn-primary btn-primaryMobile btn-white shadow btn-theme d-block d-md-none"><span style="font-weight: bold;">Nos Pressings</span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Header -->





<!-- Start Boxes -->
<section id="boxes" class="boxes padding-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-12" style="max-height: 463px;">
                <div class="box aos-init" data-aos="fade-up" style="height: 100%;">
                    <div class="icon">
                        <img src="assets/images/like.png" alt="" style="width: 68px;">
                    </div>
                    <div class="space-20"></div>
                    <h4>Efficacité</h4>
                    <div class="space-15"></div>
                    <p>Nous mettons tout en oeuvre pour satisfaire au maximum notre clientele</p>
                </div>
            </div>
            <div class="col-lg-4 col-12" style="max-height: 463px;">
                <div class="box aos-init" data-aos="fade-up" data-aos-delay="200" style="height: 100%;">
                    <div class="icon">
                        <!-- <span class="lnr lnr-rocket"></span> -->
                        <img src="assets/images/timer.png" alt="" style="width: 68px;">
                    </div>
                    <div class="space-20"></div>
                    <h4>Gain de Temps</h4>
                    <div class="space-15"></div>
                    <p>Fini les deplacements au pressing, gagnez du temps avec Cleeser</p>
                </div>
            </div>
            <div class="col-lg-4 col-12" style="max-height: 463px;">
                <div class="box aos-init" data-aos="fade-up" data-aos-delay="400" style="height: 100%;">
                    <div class="icon">
                        <img src="assets/images/website.png" alt="" style="width: 68px;">
                    </div>
                    <div class="space-20"></div>
                    <h4>Libre Choix</h4>
                    <div class="space-15"></div>
                    <p>Le choix des pressings et leurs tarifs s'offrent à vous <br> Comparer, Selectionner, Valider !</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Boxes -->

<!-- Start Why Us -->
<section id="about" class="why-us padding-100 background-fullwidth background-fixed " style="background-image: url(assets/img/gray-bg.jpg);">
    <div class="container">
        <h3 class="text-center" style="margin-bottom: 85px;">
            Comment ça marche ?
        </h3>
        <div class="row align-items-center">
            <div class="col-md-6 aos-init" data-aos="fade-zoom-in" data-aos-delay="200">

                <p style="font-weight: bold;font-size: 20px; color: #303952;"><span style="color: #00cdcd; font-size: 27px;">4</span> étapes seulement:
                </p>
                <div class="space-50"></div>
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-12 aos-init" data-aos="zoom-in" data-aos-delay="200">
                        <div class="why-us-icon">
                            <span class="lnr lnr-map-marker"></span>
                            <p style="font-size: 19px; font-weight: 600;">Choix du pressing</p>
                            <p>sélectionner le pressing parmi nos différents partenaires.
                            </p>
                        </div>
                        <div class="space-25"></div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-12 aos-init" data-aos="zoom-in" data-aos-delay="400">
                        <div class="why-us-icon">
                            <span class="lnr lnr-smartphone"></span>
                            <p style="font-size: 19px; font-weight: 600;">Commander via Cleeser.com</p>
                            <p>renseigner l’heur et la date.</p>
                        </div>
                    </div>
                    <div class="space-25"></div>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-12 aos-init" data-aos="zoom-in" data-aos-delay="200">
                        <div class="why-us-icon">

                            <span class="lnr lnr-car"></span>
                            <p style="font-size: 19px; font-weight: 600;">Recuperation des vêtements</p>
                            <p>le livreur vient directement chez vous récupérer vos vêtements.
                            </p>
                        </div>
                        <div class="space-25"></div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-12 aos-init" data-aos="zoom-in" data-aos-delay="400">
                        <div class="why-us-icon">
                            <span class="lnr lnr-shirt"></span>
                            <p style="font-size: 19px; font-weight: 600;">Livraison des vêtements</p>
                            <p>Vos vêtements lavés et repassés sont livrer a votre domicile.</p>
                        </div>
                        <div class="space-25"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 text-center aos-init d-none d-md-block" data-aos="fade-right">
                <img src="assets/images/imageCamion.png" class="img-fluid" alt="">
            </div>
        </div>
    </div>
</section>

<section id="other_features" class="other-features padding-100 pt-5 pb-4 background-withcolor">
    <div class="container-fluid">

        <div class="text-center col-12 section-title aos-init" data-aos="fade-zoom-in">
            <h3>Nos <span class="white"> Différents </span> Partenaires</h3>
            <div class="space-25"></div>
            <p style="font-size:26px">Ils nous ont fait confiance, à vous de choisir !</p>
            <div class="space-50"></div>
        </div>


        <div class="other-features-slider aos-init slick-initialized slick-slider container" data-aos="fade-up">


            <div class="row mb-5 justify-content-center" data-aos="fade-up">
                <div *ngFor="let pressing of fourPressingDisplayed" class="item text-center slick-center backgroundImg col-12 col-md-5 col-xl row align-items-center mx-2 mb-3 heightResponsive" data-slick-index="0" aria-hidden="true" tabindex="0" style="height: 255px;">

                    <div class="mx-auto col-12">
                        <h4 style="font-size: 25px;">{{pressing.name}}</h4>
                        <p style="font-weight: bold; font-size: 16px;">{{pressing.address}}</p>

                    </div>
                    <div class="col col-md-12 align-self-end">
                        <a (click)="navigateToPressing(pressing._id)" class="mx-auto align-self-end btn btn-primary shadow d-block btn-colord btn-theme" style="height:45px ; padding: 12px 35px !important"><span>Selectionner</span></a>
                    </div>
                </div>

            </div>

            <div (click)="goToLinkOfPath('pressings')" class="mx-auto mb-5 text-center row align-items-center justify-content-center btnGoToAllPressings">

                Voir Plus...

            </div>

        </div>

    </div>
</section>


<section>
    <div class="container">
        <div class="row">
            <div class="text-center col-12 section-title aos-init" data-aos="fade-zoom-in" style="margin-bottom: 65px;">
                <h3>Qui Sommes Nous ?</h3>
            </div>
        </div>

        <div>
            <p class="text-center" style="font-size: 23px;line-height: 1.7;margin-bottom: 0px; font-style: italic; color: #303952;">
                Qui n’a jamais laisser traîner un costume, une robe de soirée, un manteau ou même des rideaux durant des mois chez soi pour les amener au pressing mais toujours reporter ca à plus tard par manque de temps ou par flemme ? Effectivement, on est tous d’accord.
                C’est pour cela que nous avons développer cette plateforme qui assure la livraison pour vous, grâce notre service et nos différent partenariat avec les pressings. De ce fait en quelque clique sans bouger de chez vous vos vêtements sont
                récupérés lavés repassés et livrés. Vous l’avez compris notre but et de vous facilité la vie. Prenez les choses en main et faite nous confiance en faisant appel à Cleeser. <br> A très vite ! <br> L’équipe clean service
            </p>
        </div>
    </div>
</section>

<section id="testimonial" class="clients-testimonial padding-100" style="margin-bottom: 0;">
    <div class="container">
        <div class="row">
            <div class="text-center col-12 section-title aos-init" data-aos="fade-zoom-in" style="margin-bottom: 65px;">
                <h3>Clients
                    <span> Testimonial</span>
                </h3>

            </div>

            <div class="testimonial-slider aos-init slick-initialized d-md-flex justify-content-center" data-aos="fade-up">


                <div class="item slick-slide slick-active col-12 col-md" data-slick-index="1" aria-hidden="false" tabindex="0" role="tabpanel" id="slick-slide21">
                    <div class="client-testimonial" style="max-height: 234px;">
                        <p>
                            J’ai testé les services de l’équipe Cleeser et j’ai adoré c’est un vrai gagne temps ! Depuis le temps que je devais le faire. ! Ils sont rapide efficace et surtout de confiance. <br> Merci.

                        </p>
                    </div>
                    <div class="client-info d-flex align-items-center">

                        <h3>Rachel Touitou</h3>

                    </div>
                </div>
                <div class="item slick-slide slick-active col-12 col-md" data-slick-index="1" aria-hidden="false" tabindex="0" role="tabpanel" id="slick-slide21">
                    <div class="client-testimonial" style="max-height: 234px;">
                        <p>
                            Service très professionnel, de confiance, j'ai pu meme choisir mon pressing habituel. Gagne temps de folie Service au top que je recommande a 100%. <br> Merci a l'équipe Cleeser.
                        </p>
                    </div>
                    <div class="client-info d-flex align-items-center">

                        <h3>Omer Levy</h3>

                    </div>
                </div>

            </div>

        </div>

    </div>
    <app-footer></app-footer>
</section>