<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
</head>

<body>
    <style>
        /*! CSS Used from: Embedded */
        
        td {
            font-family: arial, sans-serif;
        }
        /*! CSS Used from: Embedded */
        
        td {
            margin: 0;
            font-family: Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
        }
        
        .J-J5-Ji {
            position: relative;
            display: inline-block;
        }
        
        .J-J5-Ji {
            position: relative;
            display: -moz-inline-box;
            display: inline-block;
        }
        
        .T-I {
            -webkit-border-radius: 2px;
            border-radius: 2px;
            cursor: default;
            font-size: 0.875rem;
            font-weight: 500;
            text-align: center;
            white-space: nowrap;
            margin-right: 16px;
            height: 18px;
            line-height: 18px;
            min-width: 54px;
            outline: 0;
            padding: 0 8px;
        }
        
         ::-webkit-input-placeholder {
            color: #999;
        }
        
        .T-I-ax7 {
            -webkit-box-shadow: none;
            box-shadow: none;
            background-color: transparent;
            background-image: -webkit-linear-gradient(top, transparent, transparent);
            background-image: linear-gradient(top, transparent, transparent);
            color: #444;
            border: 1px solid transparent;
            border: 1px solid transparent;
        }
        
        .T-I-ax7:active {
            -webkit-box-shadow: none;
            box-shadow: none;
            background: #9e9e9e;
            color: #333;
        }
        
        .T-I-ax7:focus {
            border: 1px solid transparent;
            outline: none;
        }
        
        .a6T {
            cursor: pointer;
            outline: 0;
        }
        
        .a6S {
            position: absolute;
            font-weight: normal;
            font-family: arial, sans-serif;
        }
        
        .a5q.T-I {
            border: 1px solid #737373;
            background: rgba(0, 0, 0, 0.6);
            -webkit-border-radius: 3px;
            border-radius: 3px;
            cursor: pointer;
            min-width: 0;
            padding: 0;
            margin-left: 8px;
            margin-right: 0;
            width: 30px;
            height: 24px;
            line-height: 23px;
        }
        
        .gt a {
            color: #222;
        }
        
        .ii a[href] {
            color: #15c;
        }
        
        .aYr {
            cursor: pointer;
            vertical-align: middle;
        }
        
        .aSK {
            background: no-repeat url(https://ssl.gstatic.com/mail/sprites/newattachmentcards-ff2ce2bea04dec2bf32f2ebbfa0834ff.png) -219px -129px;
            height: 21px;
            width: 21px;
        }
        
        @media (min-resolution: 144dpi),
        (-webkit-min-device-pixel-ratio: 1.5) {
            .aSK {
                background: no-repeat url(https://ssl.gstatic.com/mail/sprites/newattachmentcards_2x-b5dc0789db8a33abf60dba93f1731809.png) -219px -129px;
            }
            .aSK {
                -webkit-background-size: 311px 150px;
                background-size: 311px 150px;
            }
        }
        
        .T-I {
            -webkit-user-drag: none;
            -webkit-user-select: none;
            user-select: none;
            border: none;
            line-height: 18px;
            min-width: auto;
            padding: 0;
        }
        
        .T-I:not(.T-I-JE) {
            cursor: pointer;
        }
        
        .T-I-ax7 {
            align-items: center;
            display: inline-flex;
            justify-content: center;
            outline: none;
            position: relative;
            z-index: 0;
            -webkit-align-items: center;
            align-items: center;
            background: transparent;
            border: none;
            -webkit-box-shadow: none;
            box-shadow: none;
            display: -webkit-inline-box;
            display: -webkit-inline-flex;
            display: inline-flex;
            height: auto;
            -webkit-justify-content: center;
            justify-content: center;
            margin: 0;
        }
        
        .T-I-ax7:active {
            background: transparent;
        }
        
        .T-I-ax7:focus {
            border: none;
        }
        /*! CSS Used from: Embedded */
        
        .msg-7687095819083057932 table,
        .msg-7687095819083057932 td {
            border-collapse: collapse;
        }
        
        .msg-7687095819083057932 img {
            border: 0;
            height: auto;
            line-height: 100%;
            outline: none;
            text-decoration: none;
        }
        
        .msg-7687095819083057932 p {
            display: block;
            margin: 13px 0;
        }
        
        @media only screen and (min-width: 480px) {
            .msg-7687095819083057932 .m_-7687095819083057932mj-column-per-100 {
                width: 100% !important;
                max-width: 100%;
            }
        }
        /*! CSS Used fontfaces */
        
        @font-face {
            font-family: 'Roboto';
            font-style: italic;
            font-weight: 400;
            src: local('Roboto Italic'), local('Roboto-Italic'), url(//fonts.gstatic.com/s/roboto/v18/KFOkCnqEu92Fr1Mu51xFIzIXKMnyrYk.woff2) format('woff2');
            unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
        }
        
        @font-face {
            font-family: 'Roboto';
            font-style: italic;
            font-weight: 400;
            src: local('Roboto Italic'), local('Roboto-Italic'), url(//fonts.gstatic.com/s/roboto/v18/KFOkCnqEu92Fr1Mu51xMIzIXKMnyrYk.woff2) format('woff2');
            unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
        }
        
        @font-face {
            font-family: 'Roboto';
            font-style: italic;
            font-weight: 400;
            src: local('Roboto Italic'), local('Roboto-Italic'), url(//fonts.gstatic.com/s/roboto/v18/KFOkCnqEu92Fr1Mu51xEIzIXKMnyrYk.woff2) format('woff2');
            unicode-range: U+1F00-1FFF;
        }
        
        @font-face {
            font-family: 'Roboto';
            font-style: italic;
            font-weight: 400;
            src: local('Roboto Italic'), local('Roboto-Italic'), url(//fonts.gstatic.com/s/roboto/v18/KFOkCnqEu92Fr1Mu51xLIzIXKMnyrYk.woff2) format('woff2');
            unicode-range: U+0370-03FF;
        }
        
        @font-face {
            font-family: 'Roboto';
            font-style: italic;
            font-weight: 400;
            src: local('Roboto Italic'), local('Roboto-Italic'), url(//fonts.gstatic.com/s/roboto/v18/KFOkCnqEu92Fr1Mu51xHIzIXKMnyrYk.woff2) format('woff2');
            unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
        }
        
        @font-face {
            font-family: 'Roboto';
            font-style: italic;
            font-weight: 400;
            src: local('Roboto Italic'), local('Roboto-Italic'), url(//fonts.gstatic.com/s/roboto/v18/KFOkCnqEu92Fr1Mu51xGIzIXKMnyrYk.woff2) format('woff2');
            unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
        }
        
        @font-face {
            font-family: 'Roboto';
            font-style: italic;
            font-weight: 400;
            src: local('Roboto Italic'), local('Roboto-Italic'), url(//fonts.gstatic.com/s/roboto/v18/KFOkCnqEu92Fr1Mu51xIIzIXKMny.woff2) format('woff2');
            unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
        }
        
        @font-face {
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            src: local('Roboto Regular'), local('Roboto-Regular'), url(//fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu72xKKTU1Kvnz.woff2) format('woff2');
            unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
        }
        
        @font-face {
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            src: local('Roboto Regular'), local('Roboto-Regular'), url(//fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu5mxKKTU1Kvnz.woff2) format('woff2');
            unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
        }
        
        @font-face {
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            src: local('Roboto Regular'), local('Roboto-Regular'), url(//fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu7mxKKTU1Kvnz.woff2) format('woff2');
            unicode-range: U+1F00-1FFF;
        }
        
        @font-face {
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            src: local('Roboto Regular'), local('Roboto-Regular'), url(//fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu4WxKKTU1Kvnz.woff2) format('woff2');
            unicode-range: U+0370-03FF;
        }
        
        @font-face {
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            src: local('Roboto Regular'), local('Roboto-Regular'), url(//fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu7WxKKTU1Kvnz.woff2) format('woff2');
            unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
        }
        
        @font-face {
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            src: local('Roboto Regular'), local('Roboto-Regular'), url(//fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu7GxKKTU1Kvnz.woff2) format('woff2');
            unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
        }
        
        @font-face {
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            src: local('Roboto Regular'), local('Roboto-Regular'), url(//fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu4mxKKTU1Kg.woff2) format('woff2');
            unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
        }
        
        @font-face {
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 500;
            src: local('Roboto Medium'), local('Roboto-Medium'), url(//fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmEU9fCRc4AMP6lbBP.woff2) format('woff2');
            unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
        }
        
        @font-face {
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 500;
            src: local('Roboto Medium'), local('Roboto-Medium'), url(//fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmEU9fABc4AMP6lbBP.woff2) format('woff2');
            unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
        }
        
        @font-face {
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 500;
            src: local('Roboto Medium'), local('Roboto-Medium'), url(//fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmEU9fCBc4AMP6lbBP.woff2) format('woff2');
            unicode-range: U+1F00-1FFF;
        }
        
        @font-face {
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 500;
            src: local('Roboto Medium'), local('Roboto-Medium'), url(//fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmEU9fBxc4AMP6lbBP.woff2) format('woff2');
            unicode-range: U+0370-03FF;
        }
        
        @font-face {
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 500;
            src: local('Roboto Medium'), local('Roboto-Medium'), url(//fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmEU9fCxc4AMP6lbBP.woff2) format('woff2');
            unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
        }
        
        @font-face {
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 500;
            src: local('Roboto Medium'), local('Roboto-Medium'), url(//fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmEU9fChc4AMP6lbBP.woff2) format('woff2');
            unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
        }
        
        @font-face {
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 500;
            src: local('Roboto Medium'), local('Roboto-Medium'), url(//fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmEU9fBBc4AMP6lQ.woff2) format('woff2');
            unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
        }
        
        @font-face {
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 700;
            src: local('Roboto Bold'), local('Roboto-Bold'), url(//fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmWUlfCRc4AMP6lbBP.woff2) format('woff2');
            unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
        }
        
        @font-face {
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 700;
            src: local('Roboto Bold'), local('Roboto-Bold'), url(//fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmWUlfABc4AMP6lbBP.woff2) format('woff2');
            unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
        }
        
        @font-face {
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 700;
            src: local('Roboto Bold'), local('Roboto-Bold'), url(//fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmWUlfCBc4AMP6lbBP.woff2) format('woff2');
            unicode-range: U+1F00-1FFF;
        }
        
        @font-face {
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 700;
            src: local('Roboto Bold'), local('Roboto-Bold'), url(//fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmWUlfBxc4AMP6lbBP.woff2) format('woff2');
            unicode-range: U+0370-03FF;
        }
        
        @font-face {
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 700;
            src: local('Roboto Bold'), local('Roboto-Bold'), url(//fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmWUlfCxc4AMP6lbBP.woff2) format('woff2');
            unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
        }
        
        @font-face {
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 700;
            src: local('Roboto Bold'), local('Roboto-Bold'), url(//fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmWUlfChc4AMP6lbBP.woff2) format('woff2');
            unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
        }
        
        @font-face {
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 700;
            src: local('Roboto Bold'), local('Roboto-Bold'), url(//fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmWUlfBBc4AMP6lQ.woff2) format('woff2');
            unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
        }
    </style>
    <div style="background-color:#f4f4f4">
        <div style="background-color:#f4f4f4">
            <div style="margin:0px auto;max-width:600px">
                <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="width:100%">
                    <tbody>
                        <tr>
                            <td style="direction:ltr;font-size:0px;padding:20px 0;padding-bottom:0px;padding-top:0px;text-align:center">
                                <div class="m_-7687095819083057932mj-column-per-100" style="font-size:0px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%">
                                    <table border="0" cellpadding="0" cellspacing="0" role="presentation" style="vertical-align:top" width="100%">
                                        <tbody>
                                            <tr>
                                                <td align="center" style="font-size:0px;padding:10px 25px;padding-top:0px;padding-right:0px;padding-bottom:0px;padding-left:0px;word-break:break-word">
                                                    <table border="0" cellpadding="0" cellspacing="0" role="presentation" style="border-collapse:collapse;border-spacing:0px">
                                                        <tbody>
                                                            <tr>
                                                                <td style="width:600px">
                                                                    <img alt="" height="auto" src="../../client/src/assets/images/mailCleeser.png" style="border:none;border-radius:px;display:block;outline:none;text-decoration:none;height:auto;width:100%;font-size:13px" width="600" class="CToWUd a6T" tabindex="0" />
                                                                    <div class="a6S" dir="ltr" style="opacity: 0.01; left: 382px; top: 97px;">
                                                                        <div id=":r5" class="T-I J-J5-Ji aQv T-I-ax7 L3 a5q" role="button" tabindex="0" aria-label="Télécharger la pièce jointe " data-tooltip-class="a1V" data-tooltip="Télécharger">
                                                                            <div class="aSK J-J5-Ji aYr"></div>
                                                                        </div>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div style="background:#ffffff;background-color:#ffffff;margin:0px auto;max-width:600px">
                <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="background:#ffffff;background-color:#ffffff;width:100%">
                    <tbody>
                        <tr>
                            <td style="direction:ltr;font-size:0px;padding:20px 0px 20px 0px;padding-bottom:0px;padding-top:0px;text-align:center">
                                <h1>Thanks for joining us ! </h1>
                                <p> Welcome to Cleeser. You can now take advantage of our services in just a few clicks.</p>

                                <div class="m_-7687095819083057932mj-column-per-100" style="font-size:0px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%">
                                    <table border="0" cellpadding="0" cellspacing="0" role="presentation" style="vertical-align:top" width="100%">
                                        <tbody>
                                            <tr>
                                                <td align="left" style="font-size:0px;padding:0px 18px 0px 18px;padding-top:0px;padding-right:18px;padding-bottom:0px;padding-left:18px;word-break:break-word">
                                                    <div style="font-family:Arial,sans-serif;font-size:13px;letter-spacing:normal;line-height:22px;text-align:left;color:#55575d">
                                                        <p style="font-size:13px;line-height:22px;text-align:justify;margin:10px 0">
                                                            <span style="color:#122631">Vous rêvez d'en finir avec la corvée de lessive et de repassage?</span
                                >
                              </p>
                              <!-- <p style="font-size:13px;line-height:22px;text-align:justify;margin:10px 0">
                                <span style="color:#122631"
                                  ><span style="font-size:13px"
                                    >cleeser est fait pour vous ! Des chemises encore froissées, la queue à la laverie,
                                    des pulls rétrécis... C'est désormais du passé! Grace à cleeser, service de pressing
                                    à domicile,
                                  </span></span><span style="color:#122631"><span style="font-size:13px"
                                    >vous serez tiré à quatre épingles sans effort !</span
                                  ></span
                                >
                              </p>
                              <p style="font-size:13px;line-height:22px;text-align:justify;margin:10px 0">
                                <span style="color:#122631"
                                  ><span style="font-size:13px"
                                    >Des milliers de français adorent déjà, pourquoi pas vous ?</span
                                  ></span
                                >
                              </p>
                              <p style="font-size:13px;line-height:22px;text-align:justify;margin:10px 0">
                                <span style="color:#122631"
                                  ><span style="font-size:13px"
                                    >Voici un cadeau de bienvenue rien que pour vous :
                                  </span></span><span style="color:#122631"><span style="font-size:13px"
                                    ><b style="color:#1f2d3d">10€ de réduction dès votre première commande.</b></span
                                  ></span
                                >
                              </p>
                              <p style="font-size:13px;line-height:22px;text-align:center;margin:10px 0">
                                <b style="font-weight:700"
                                  ><span style="color:rgb(18,38,49);font-weight:700"
                                    ><span style="font-size:13px;font-weight:700">Votre code promo: WF10</span></span>
                                                            </b>
                                                        </p> -->
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="font-size:0px;padding:10px 25px;padding-top:0px;padding-bottom:0px;word-break:break-word">
                                                    <p style="border-top:solid 4px #122630;font-size:1;margin:0px auto;width:100%"></p>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div style="background:#ffffff;background-color:#ffffff;margin:0px auto;max-width:600px">
                <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="background:#ffffff;background-color:#ffffff;width:100%">
                    <tbody>
                        <tr>
                            <td style="direction:ltr;font-size:0px;padding:20px 0;padding-bottom:0px;padding-top:0px;text-align:center">
                                <div class="m_-7687095819083057932mj-column-per-100" style="font-size:0px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%">
                                    <table border="0" cellpadding="0" cellspacing="0" role="presentation" style="vertical-align:top" width="100%">
                                        <tbody>
                                            <tr>
                                                <td align="left" style="font-size:0px;padding:10px 25px;padding-top:0px;padding-bottom:0px;word-break:break-word">
                                                    <div style="font-family:Arial,sans-serif;font-size:13px;letter-spacing:normal;line-height:22px;text-align:left;color:#55575d">
                                                        <p style="font-size:13px;margin:10px 0;text-align:center">
                                                            <span style="color:#122631;text-decoration:none"><span style="color:#122631;font-size:11px;text-decoration:none"
                                    ><a
                                      style="color:#122631;font-size:10px;text-decoration:none"
                                      href="tel:+972%2053%205318%20799"
                                      target="_blank"
                                      ><span style="font-size:10px">+972 53 5318 799</span></a><span style="font-size:10px"> </span></span>
                                                            </span><span style="font-size:10px"><span style="color:#112631;font-family:Lato,sans-serif;text-decoration:none"
                                    ><span style="color:#122631">|</span></span>
                                                            </span><span style="color:#122631;text-decoration:none"><span style="color:#122631;font-size:11px;text-decoration:none"
                                    ><a
                                      style="color:#122631;font-size:10px;text-decoration:none"
                                      href="tel:+972%2053%205318%20799"
                                      target="_blank"
                                      ><span style="font-size:10px"> </span></a><span style="font-size:10px"></span></span><a style="color:#122631;font-size:10px;text-decoration:none" href="mailto:contact@cleeser.com" target="_blank"><span style="font-size:10px">Sunday-Thursday : 17h-22h, Friday : 8h-12h, Saturday : 20h-23h</span></a
                                  ></span
                                ><span style="font-size:10px"
                                  ><span style="color:#112631;font-family:Lato,sans-serif;text-decoration:none"
                                    >|</span
                                  ></span
                                ><span style="color:#122631;text-decoration:none"
                                  ><span style="font-size:10px"> </span></span
                                ><a
                                  style="color:#122631;font-size:10px;text-decoration:none"
                                  href="mailto:contact@cleeser.com"
                                  target="_blank"
                                  ><span style="font-size:10px"
                                    ><span style="color:#122631">contact@cleeser.com</span></span
                                  ></a
                                >
                              </p>
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <td
                            align="center"
                            style="font-size:0px;padding:0px 25px 1px 25px;padding-top:0px;padding-right:25px;padding-bottom:1px;padding-left:25px;word-break:break-word"
                          >
                            <table
                              align="center"
                              border="0"
                              cellpadding="0"
                              cellspacing="0"
                              role="presentation"
                              style="float:none;display:inline-table"
                            >
                              <tbody>
                                <tr>
                                  <td style="padding:4px">
                                    <table
                                      border="0"
                                      cellpadding="0"
                                      cellspacing="0"
                                      role="presentation"
                                      style="background:#3b5998;border-radius:3px;width:20"
                                    >
                                      <tbody>
                                        <tr>
                                          <td
                                            style="padding:0px 0px 0px 0px;font-size:0;height:20;vertical-align:middle;width:20"
                                          >
                                            <a
                                              href="http://yklz.mjt.lu/lnk/EAAAAR-zHlsAAAAAAAAAAKf7eXkAAAAUeokAAAAAAAvXHABfjWPdg7SmnAG-T1WVSoqgvxtIdwAL6xA/1/Vtst8Gfs1Mk33AigN4HeAA/aHR0cHM6Ly93d3cuZmFjZWJvb2suY29tL3dhc3QuZnJhbmNlLw"
                                              target="_blank"
                                              data-saferedirecturl="https://www.google.com/url?q=http://yklz.mjt.lu/lnk/EAAAAR-zHlsAAAAAAAAAAKf7eXkAAAAUeokAAAAAAAvXHABfjWPdg7SmnAG-T1WVSoqgvxtIdwAL6xA/1/Vtst8Gfs1Mk33AigN4HeAA/aHR0cHM6Ly93d3cuZmFjZWJvb2suY29tL3dhc3QuZnJhbmNlLw&amp;source=gmail&amp;ust=1603537300964000&amp;usg=AFQjCNHE0Wwa-k5ZTO4ljpYCoSI5M-EU5A"
                                              ><img
                                                height="20"
                                                src="https://ci5.googleusercontent.com/proxy/AAj9Ub7feW1ylXOMFO6RqlPR9tip9Huj-qIQNsyyp6UBv4-MW_AHKALaivzMViOvKXH85mwL8KfcNmqrQ1ESqD4ML60tmbNUWt1EBZjIe-qtqx-zy7CLqg=s0-d-e1-ft#https://www.mailjet.com/images/theme/v1/icons/ico-social/facebook.png"
                                                style="border-radius:3px;display:block"
                                                width="20"
                                                class="CToWUd"
                                            /></a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                            </td>
                            <td style="vertical-align:middle">
                                <a href="http://yklz.mjt.lu/lnk/EAAAAR-zHlsAAAAAAAAAAKf7eXkAAAAUeokAAAAAAAvXHABfjWPdg7SmnAG-T1WVSoqgvxtIdwAL6xA/2/RhVIKwvZNjr-ZDBc-9sLrA/aHR0cHM6Ly93d3cuZmFjZWJvb2suY29tL3dhc3QuZnJhbmNlLw" style="color:#55575d;font-size:10px;font-family:Arial,sans-serif;line-height:22px;text-decoration:none"
                                    target="_blank" data-saferedirecturl="https://www.google.com/url?q=http://yklz.mjt.lu/lnk/EAAAAR-zHlsAAAAAAAAAAKf7eXkAAAAUeokAAAAAAAvXHABfjWPdg7SmnAG-T1WVSoqgvxtIdwAL6xA/2/RhVIKwvZNjr-ZDBc-9sLrA/aHR0cHM6Ly93d3cuZmFjZWJvb2suY29tL3dhc3QuZnJhbmNlLw&amp;source=gmail&amp;ust=1603537300964000&amp;usg=AFQjCNE_QiPEFol4HeIRl03gsJTq94u8EA">Suivez-nous</a
                                    >
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                            <table
                              align="center"
                              border="0"
                              cellpadding="0"
                              cellspacing="0"
                              role="presentation"
                              style="float:none;display:inline-table"
                            >
                              <tbody>
                                <tr>
                                  <td style="padding:4px">
                                    <table
                                      border="0"
                                      cellpadding="0"
                                      cellspacing="0"
                                      role="presentation"
                                      style="background:#55acee;border-radius:3px;width:20"
                                    >
                                      <tbody>
                                        <tr>
                                          <td
                                            style="padding:0px 0px 0px 0px;font-size:0;height:20;vertical-align:middle;width:20"
                                          >
                                            <a
                                              href="http://yklz.mjt.lu/lnk/EAAAAR-zHlsAAAAAAAAAAKf7eXkAAAAUeokAAAAAAAvXHABfjWPdg7SmnAG-T1WVSoqgvxtIdwAL6xA/3/kLQmKqhv0uxplzMbIUyvwQ/aHR0cHM6Ly90d2l0dGVyLmNvbS93YXN0X0ZS"
                                              target="_blank"
                                              data-saferedirecturl="https://www.google.com/url?q=http://yklz.mjt.lu/lnk/EAAAAR-zHlsAAAAAAAAAAKf7eXkAAAAUeokAAAAAAAvXHABfjWPdg7SmnAG-T1WVSoqgvxtIdwAL6xA/3/kLQmKqhv0uxplzMbIUyvwQ/aHR0cHM6Ly90d2l0dGVyLmNvbS93YXN0X0ZS&amp;source=gmail&amp;ust=1603537300964000&amp;usg=AFQjCNGLrZZk7VRgtL_m2HOvGLW0WedW1Q"
                                              ><img
                                                height="20"
                                                src="https://ci5.googleusercontent.com/proxy/5-H8_DK82L0N-1vgP5uKBHqWiqyxiM_gQDmYNPR-zKzHLn0kycNlKjm1RPmgIFs1HCoTrgRj21Cbo7NByc3zCrXuBvOivAnQPL6D82Hi1xJ8t0qHOA5f=s0-d-e1-ft#https://www.mailjet.com/images/theme/v1/icons/ico-social/twitter.png"
                                                style="border-radius:3px;display:block"
                                                width="20"
                                                class="CToWUd"
                                            /></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
                </td>
                <td style="vertical-align:middle">
                    <a href="http://yklz.mjt.lu/lnk/EAAAAR-zHlsAAAAAAAAAAKf7eXkAAAAUeokAAAAAAAvXHABfjWPdg7SmnAG-T1WVSoqgvxtIdwAL6xA/4/xS3paRTH9LtC7OLbqiYJrg/aHR0cHM6Ly90d2l0dGVyLmNvbS93YXN0X0ZS" style="color:#55575d;font-size:10px;font-family:Arial,sans-serif;line-height:22px;text-decoration:none"
                        target="_blank" data-saferedirecturl="https://www.google.com/url?q=http://yklz.mjt.lu/lnk/EAAAAR-zHlsAAAAAAAAAAKf7eXkAAAAUeokAAAAAAAvXHABfjWPdg7SmnAG-T1WVSoqgvxtIdwAL6xA/4/xS3paRTH9LtC7OLbqiYJrg/aHR0cHM6Ly90d2l0dGVyLmNvbS93YXN0X0ZS&amp;source=gmail&amp;ust=1603537300964000&amp;usg=AFQjCNE4f9MGmAAb9J_ox1moi9hY7LN5gA">Suivez-nous</a
                                    >
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                            <table
                              align="center"
                              border="0"
                              cellpadding="0"
                              cellspacing="0"
                              role="presentation"
                              style="float:none;display:inline-table"
                            >
                              <tbody>
                                <tr>
                                  <td style="padding:4px">
                                    <table
                                      border="0"
                                      cellpadding="0"
                                      cellspacing="0"
                                      role="presentation"
                                      style="background:#3f729b;border-radius:3px;width:20"
                                    >
                                      <tbody>
                                        <tr>
                                          <td
                                            style="padding:0px 0px 0px 0px;font-size:0;height:20;vertical-align:middle;width:20"
                                          >
                                            <a
                                              href="http://yklz.mjt.lu/lnk/EAAAAR-zHlsAAAAAAAAAAKf7eXkAAAAUeokAAAAAAAvXHABfjWPdg7SmnAG-T1WVSoqgvxtIdwAL6xA/5/NvCDeEiAUxFupR3BWTRDig/aHR0cHM6Ly93d3cuaW5zdGFncmFtLmNvbS93YXN0LmZyYW5jZS8_aGw9ZnI"
                                              target="_blank"
                                              data-saferedirecturl="https://www.google.com/url?q=http://yklz.mjt.lu/lnk/EAAAAR-zHlsAAAAAAAAAAKf7eXkAAAAUeokAAAAAAAvXHABfjWPdg7SmnAG-T1WVSoqgvxtIdwAL6xA/5/NvCDeEiAUxFupR3BWTRDig/aHR0cHM6Ly93d3cuaW5zdGFncmFtLmNvbS93YXN0LmZyYW5jZS8_aGw9ZnI&amp;source=gmail&amp;ust=1603537300964000&amp;usg=AFQjCNHvk_T-9h6qLtlcDTX7TctKC0le1A"
                                              ><img
                                                height="20"
                                                src="https://ci4.googleusercontent.com/proxy/1hRWt45z2joLMPCx5K8gvrTYv5dx_FoJ33SrpnoklU5qqxHOPjtDcESAgwfD6COZU3qnghYbYRI-Cas7knFfamhN6HRTC6c1UVSa-gxSjlSbCo_cqb30ZeM=s0-d-e1-ft#https://www.mailjet.com/images/theme/v1/icons/ico-social/instagram.png"
                                                style="border-radius:3px;display:block"
                                                width="20"
                                                class="CToWUd"
                                            /></a>
                </td>
                </tr>
                </tbody>
                </table>
                </td>
                <td style="vertical-align:middle">
                    <a href="http://yklz.mjt.lu/lnk/EAAAAR-zHlsAAAAAAAAAAKf7eXkAAAAUeokAAAAAAAvXHABfjWPdg7SmnAG-T1WVSoqgvxtIdwAL6xA/6/rDkS9Y2tBw6uiesx8zGTFQ/aHR0cHM6Ly93d3cuaW5zdGFncmFtLmNvbS93YXN0LmZyYW5jZS8_aGw9ZnI" style="color:#55575d;font-size:10px;font-family:Arial,sans-serif;line-height:22px;text-decoration:none"
                        target="_blank" data-saferedirecturl="https://www.google.com/url?q=http://yklz.mjt.lu/lnk/EAAAAR-zHlsAAAAAAAAAAKf7eXkAAAAUeokAAAAAAAvXHABfjWPdg7SmnAG-T1WVSoqgvxtIdwAL6xA/6/rDkS9Y2tBw6uiesx8zGTFQ/aHR0cHM6Ly93d3cuaW5zdGFncmFtLmNvbS93YXN0LmZyYW5jZS8_aGw9ZnI&amp;source=gmail&amp;ust=1603537300964000&amp;usg=AFQjCNFrD6BNXcJK2fLtuxzWtt9_op7Z2Q">Suivez-nous</a
                                    >
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>
                        <!-- <tr>
                          <td
                            align="left"
                            style="font-size:0px;padding:0px 25px 0px 25px;padding-top:0px;padding-right:25px;padding-bottom:0px;padding-left:25px;word-break:break-word"
                          >
                            <div
                              style="font-family:Arial,sans-serif;font-size:13px;letter-spacing:normal;line-height:24px;text-align:left;color:#000000"
                            >
                              <p style="font-size:13px;line-height:15px;text-align:center;margin:10px 0">
                                <span style="font-size:10px"
                                  ><span style="color:#122631"
                                    >© 2019 cleeser SAS. 6 RUE DE CHATILLON 35510 CESSON-SEVIGNE, France • SIRET
                                    82192250700024 • Numéro de TVA FR 82 821922507</span
                                  ></span
                                ><a
                                  style="color:#122631;font-size:10px;text-decoration:none"
                                  href="http://yklz.mjt.lu/lnk/EAAAAR-zHlsAAAAAAAAAAKf7eXkAAAAUeokAAAAAAAvXHABfjWPdg7SmnAG-T1WVSoqgvxtIdwAL6xA/7/D0m6Nh0VkO_VphIFL3P-Aw/aHR0cHM6Ly93YXN0LmZyL3Rlcm1z"
                                  target="_blank"
                                  data-saferedirecturl="https://www.google.com/url?q=http://yklz.mjt.lu/lnk/EAAAAR-zHlsAAAAAAAAAAKf7eXkAAAAUeokAAAAAAAvXHABfjWPdg7SmnAG-T1WVSoqgvxtIdwAL6xA/7/D0m6Nh0VkO_VphIFL3P-Aw/aHR0cHM6Ly93YXN0LmZyL3Rlcm1z&amp;source=gmail&amp;ust=1603537300964000&amp;usg=AFQjCNEmckfnQ8nOtQ4QLommnJoLMGyzwg"
                                  ><span style="font-size:10px"
                                    ><span style="color:#122631">T&amp;Cs Apply</span></span
                                  ></a
                                ><span style="font-size:10px"><span style="color:#122631"> | </span></span
                                ><a
                                  style="color:#122631;font-size:10px;text-decoration:none"
                                  href="http://yklz.mjt.lu/lnk/EAAAAR-zHlsAAAAAAAAAAKf7eXkAAAAUeokAAAAAAAvXHABfjWPdg7SmnAG-T1WVSoqgvxtIdwAL6xA/8/faFHMnIPkaZ2O2tDWD5Mpw/aHR0cHM6Ly93YXN0LmZyL3Rlcm1z"
                                  target="_blank"
                                  data-saferedirecturl="https://www.google.com/url?q=http://yklz.mjt.lu/lnk/EAAAAR-zHlsAAAAAAAAAAKf7eXkAAAAUeokAAAAAAAvXHABfjWPdg7SmnAG-T1WVSoqgvxtIdwAL6xA/8/faFHMnIPkaZ2O2tDWD5Mpw/aHR0cHM6Ly93YXN0LmZyL3Rlcm1z&amp;source=gmail&amp;ust=1603537300964000&amp;usg=AFQjCNFvBHbOI5YWKwPLnYfWeXVcZ9H76w"
                                  ><span style="font-size:10px"
                                    ><span style="color:#122631">Privacy Policy</span></span
                                  ></a
                                >
                              </p>
                            </div>
                          </td>
                        </tr> -->
                      </tbody>
                    </table>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <br /><img
        src="https://ci6.googleusercontent.com/proxy/z-KIh14me2vRImXW00XUYPwqIzmwMQzbsWvU4myj7sTDuBk6hb7INTRZ7nUZeh03_HGEXBEG41wZGNYzmk_322M5yVnzuHplD3cJpXK0vePXaSIVoLGWeg_HgGpW55D4qO7k-vmM8QJgerxfqXc3dek3vxOnGqVgS2Hi_drGO0qb2kmI3UmZ=s0-d-e1-ft#http://yklz.mjt.lu/oo/EAAAAR-zHlsAAAAAAAAAAKf7eXkAAAAUeokAAAAAAAvXHABfjWPdg7SmnAG-T1WVSoqgvxtIdwAL6xA/c631dbc0/e.gif"
        height="1"
        width="1"
        alt=""
        border="0"
        style="height:1px;width:1px;border:0"
        class="CToWUd"
      />
      <div class="yj6qo"></div>
      <div class="adL"></div>
    </div>
  </body>
</html>