<div [dir]="globalService.rtlSide" style="display: flex; align-items: center;">
    <img width="100px" src="../../../assets/images/whatsapp-logo-png.png" alt="">
    <p style="text-align: start;"><span style="font-weight: bold; font-size: 16px;">{{"Les prix des articles délicats varient" | translate}}.</span> <br> {{"Veuillez passer votre commande via" | translate}} Whatsapp,
        <br> {{"en envoyant votre article en photo" | translate}}.
    </p>
</div>

<div class="btnSend">
    <a href="https://api.whatsapp.com/send?phone=+972535318799">{{"Envoyer message" | translate}}</a>
</div>